body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.styled-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.styled-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.styled-form input[type="text"],
.styled-form input[type="email"],
.styled-form input[type="number"],
.styled-form input[type="password"],
.styled-form input[type="date"] {
    width: calc(100% - 22px); /* Full width minus padding and border */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.styled-form input[type="radio"] {
    margin-right: 5px;
}

.styled-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.styled-form button:hover {
    background-color: #0056b3;
}
